.topnav {
  background-color: cadetblue;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topnav a:hover {
  background-color: grey;
  color: white;
}
.topnav a.active {
  background-color: grey;
  color: white;
}
